{% extends 'checkerapp/course_content.html' %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2c2q3OgLrHY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Schriftelijk materiaal</h3>
<p>Als je tot dit punt in de leerstof bent geraakt, heb je al een lokale repository en een remote op het xchk systeem. Je kan meerdere remotes hebben. Typisch staan je remotes op een hosting dienst, zoals Bitbucket.</p>
<p>Je verkrijgt een repository via <code>git init</code> of <code>git clone</code>. In het eerste geval start je zonder remote, in het tweede geval heb je een remote. Als je nog geen remote hebt en er een wil toevoegen, volg dan het voorbeeld in het filmpje. Het filmpje maakt gebruik van Bitbucket, maar het proces is gelijkaardig voor andere diensten.</p>
{% endblock course_content %}

{% block assignment %}
<p>Bij deze knoop hoort geen opdracht. Je moet hem gewoon controleren.</p>
{% endblock assignment %}
