{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Videomateriaal</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XD4nJC1Q93A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Schriftelijk materiaal</h3>
<p class="alert alert-danger">Deze uitleg veronderstelt dat je schrijfrechten hebt op de remote die je gebruikt. Als je de remote zelf hebt aangemaakt, is dat normaal het geval. Als iemand anders je toegang heeft gegeven, kan het zijn dat dit niet zo is.</p>

<p>
Een remote is min of meer een kopie van je project, met een kopie van je logboek. Jouw repository wordt niet automatisch up-to-date gehouden met de remote en de remote wordt niet automatisch up-to-date gehouden met jouw repository. Met andere woorden, jij kan een set wijzigingen toevoegen aan je logboek, maar deze verschijnen niet automatisch op de remote.
</p>

<p>
Om je wijzigingen te versturen naar de remote met naam <code>origin</code>, gebruik je het commando <code>git push</code> zonder extra argumenten. Dit is eenvoudig als het lokale logboek voorligt op het logboek van de remote. Met andere woorden: als in het lokale logboek alles staat wat in het logboek van de remote staat en méér. De zaken worden wat complexer wanneer beide logboeken unieke informatie bevatten. Met andere woorden: voorlopig bestaat er maar één manier om data op de remote te wijzigen en dat is <code>git push</code>.
</p>

<p class="alert alert-danger">
Als je gebruik maakt van onder andere de commando's <code>git branch</code>, <code>git pull</code> of als je aanpassingen doet via de web interface van bijvoorbeeld Bitbucket, kan het zijn dat jouw logboek niet meer gewoon "voorligt" op dat van je remote. Gebruik deze commando's dus <strong>niet</strong> tot je ze grondig bestudeerd hebt, want anders bestaat de kans dat <code>git push</code> niet meer zal werken.
</p>

{% endblock course_content %}

{% block assignment %}
Creëer het gevraagde tekstbestand en zorg dat het op je remote <code>origin</code> staat. De inhoud is onbelangrijk.
{% endblock assignment %}
