{% extends 'checkerapp/course_content.html' %}
{% load static %}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<p><code>.gitignore</code> maakt bestanden als het ware onzichtbaar voor Git. Het commando <code>git status</code> toont welke bestanden in de working directory, staging area of projectgeschiedenis staan.</p>

<p>Bijgevolg: als je <code>git status -u</code> (of gewoon <code>git status</code>) uitvoert, zal je géén bestanden zien die genegeerd worden met <code>.gitignore</code>. Er zal niet eens bij staan dat ze "untracked" zijn, ze zijn gewoon onzichtbaar.</p>

<p>Let op, dit is wel alleen zo als de bestanden ook niet voorkomen in de projectgeschiedenis. Als ze daar <em>wel</em> in staan, worden ze niet beïnvloed door <code>.gitignore</code>. Wijzigingen in de working directory zullen dus vermeld worden (in de groep "Changes not staged for commit") en je kan de files opnieuw stagen.</p>

{% endblock course_content %}

{% block assignment %}
Bij deze knoop hoort geen opdracht. Je moet hem gewoon controleren. Dit is altijd zo als de opdracht volgens de technische vereisten geweigerd wordt bij <code>false</code> en aanvaard wordt bij <code>true</code>.
{% endblock assignment %}
