{% extends 'checkerapp/course_content.html' %}
{% load static %}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<p class="alert alert-danger">
Deze uitleg veronderstelt dat je niet hebt afgeweken van de cursus. In het bijzonder wordt hier verondersteld dat je nog geen gebruik hebt gemaakt van branches. Als je niet weet wat branches zijn, heb je er waarschijnlijk nog maar één en volstaat de uitleg hieronder.
</p>

<p>
Met <code>git push</code> stuur je jouw eigen aanpassingen naar een remote. Je gebruikt het wanneer jouw logboek <strong>voor</strong> ligt op het logboek van de remote. Het kan ook andersom. Als het logboek van je remote voorligt op je eigen logboek, kan je je eigen logboek up-to-date brengen met <code>origin</code> door middel van <code>git pull</code>.
</p>

<p class="alert alert-info">
Het kan zijn dat je logboek niet gelijk staat, niet voor loopt en niet achter loopt. Maar die situatie zal niet ontstaan tot je ze aankan indien je de instructies goed volgt. Lig er nu niet wakker van.
</p>

{% endblock course_content %}

{% block assignment %}
Om deze oefening te maken, doe je volgende zaken:

<p class="alert alert-danger">
Volg deze stappen <strong>uiterst aandachtig</strong>! Als je een fout maakt, <strong>herbegin dan niet</strong>, maar contacteer de lector! De stappen zullen namelijk niet meer dezelfde zijn als er een fout in je configuratie is geslopen.
</p>

<ol>
	<li>Zorg ervoor dat je remote <code>origin</code> volledig up-to-date is met je lokale repository door <code>git push</code> uit te voeren.</li>
	<li>Maak op je remote het bestand met de naam aan die vermeld wordt in de gegenereerde instructies hierboven.
		<ul>
			<li>Indien je Bitbucket gebruikt, kan je dat doen met de knop "Add file" op de screenshot hieronder.</li>
			<li>Zorg er dan op het volgende scherm zeker voor dat je de bestandsnaam ingeeft exact zoals hij hierboven gevraagd wordt.</li>
			<li>Het maakt niet uit wat je in deze file plaatst, maar Bitbucket aanvaardt geen lege file. Zet er gewoon iets in.</li>
			<li>Klik daarna onderaan op de knop "Commit".</li>
		</ul>
	</li>
	<li>Nu ligt het logboek van je remote <code>origin</code> voor op dat van je lokale repository. Breng je lokale repository up-to-date met het juiste commando. Lees aandachtig bovenstaande tekst voor je beslist wel commando dat is...</li>
	<li>Als het updaten goed uitgevoerd is, zie je normaal onder andere de output <code>Updating</code> gevolgd door een commit hash.</li>
	<li>Overschrijf de inhoud van het tekstbestand dat je hebt gemaakt met de regel onder de output <code>Updating</code> gevolgd door een commit hash. Dus kopieer de regel <strong>na</strong> de regel die begint met "Updating" en plak hem <strong>volledig over</strong> wat al in het bestand stond (het kan zijn dat het bestand leeg was). (<strong>Tip:</strong> De regel in kwestie eindigt op de letters "rd".)</li>
	<li>Maak een nieuwe commit en stuur de wijzigingen terug naar <code>origin</code>.</li>
</ol>

<figure id="#figure-1">
  <img src="{% static "xchk_git_content/images/add-file-bitbucket-web-interface.png" %}" id="add-file-bitbucket-web-interface"/>
  <figcaption>File toevoegen via Bitbucket web interface</figcaption>
</figure>

{% endblock assignment %}

{% block post_content %}
{% endblock %}
